// Calculates y = |x|
// x & y are static variables

push static 0
push static 1

eq
if-goto IfTrue
goto IfFalse

IfTrue:
push static 0
push static 0

sub
pop static 1
goto EndIf

IfFalse:
push static 0

EndIf:
pop static 0
push static 1

return

label END
goto END