// Contains a function Fib.fib that calculates and returns the nth Fibonacci number recursively
// n is supplied as an argument

function Fib.fib 0
    push argument 0
    push constant 2
    lt

    if-goto BASE_CASE

    goto RECURSIVE_CASE
label BASE_CASE
        push argument 0
        return

label RECURSIVE_CASE
        push argument 0
        push constant 1

        sub

        call Fib.fib 1
        push argument 0
        push constant 2

        sub

        call Fib.fib 1
        
        add
        return