// Contains a function Fib.fib that calculates and returns the nth Fibonacci number recursively
// n is supplied as an argument

function X.recfib 1
push constant 1
pop local 0
push argument 0
push constant 1
gt
not
if-goto IFEND
push argument 0
push constant 1
sub
call X.recfib 1
push argument 0
push constant 2
sub
call X.recfib 1
add
pop local 0
label IFEND
push local 0
return